@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background:
    radial-gradient(
      circle at top,
      #18181b,
      #09090b
    );

  color: white;

  min-height: 100vh;
}